{
  "presets": ["babel-preset-react-native"],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ]
  ]
}
